@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* ::-webkit-scrollbar {display:none;} */

*{margin:0; padding:0;}
li{list-style:none;}
.clearfix::after{content:""; display:block; clear:both;}
a{text-decoration:none;}

body{background-color:black;
	width:100%;
	overflow:hidden;}
body ,a{font-family: 'Noto Sans', serif;}


#wrap{width:100%;}

#up, #down{cursor:pointer;}

#up{background-image:url("../../a/2_UP.png");
width:40px;
height:40px;
background-size:cover;
background-repeat:no-repeat;
position:fixed;
bottom:15%;
margin-left:1485px;}

#up:hover{background-image:url("../../a/2_UP-hover.png");}

#down{background-image:url("../../a/2_DOWN.png");
	width:40px;
	height:40px;
	background-size:cover;
	background-repeat:no-repeat;
	position:fixed;
	bottom:8%;
	margin-left:1485px;}

#down:hover{background-image:url("../../a/2_DOWN-hover.png");}

/*header start*/
#header{width:100%;
    height:100px;
    background-color:black;
    position:fixed;
    z-index:10000;}

#top{width:1400px;
height:100px;
margin:0 auto;}

#top_wrap{width:1400px;
    height:100px;}

#btn{background-image:url("../../a/1_menu.png");
    background-size:cover;
    width:25px;
    height:25px;
    margin-top:37.5px;}

#btn:hover{cursor:pointer;}


#logo{width:466.66px;
    height:57px;}
#logo img{display:block;
        margin:0 auto;
        position:relative;
        margin-top:21.5px;}


#util li{width:20px;
        height:20px;
        margin-top:40px;
        margin-left:12px;}
#util, #util li{float:right;}
#util li img{width:100%;
            height:100%;}


.top_box{width:466.66px;
        float:left;}

#up, #down{cursor:pointer;
	display:none;}
/*header end*/


/*menu start*/
#menu{width:600px;
    position:fixed;
    height:100%;
    z-index:100000;
    margin-left:-600px;
    transition:0.7s;}

#menu_1, #menu_2{float:left;}

#menu_1{width:300px;
        height:100%;
        top:0;
        position:relative;}

#menu_1 .one li:hover{font-size:18px;}

#menu_1 .one li{transition:0.2s;}

.line{width:60px;
    border-bottom: 1px solid #ababab;
    margin:0 auto;}

.one{position:absolute;
    background-color:black;
    width:300px;
    height:100%;
    z-index:1000000;
    transition:0.7s;}

.one a{color:#ffffff;}

.one:nth-child(1) ul{width:300px;
                    position:absolute;
                    top:25%;}
.one:nth-child(1) ul li{width:300px;
                        text-align:center;
                        line-height:100px;
                        font-size:13px;}


.one:nth-child(2) ul, .one:nth-child(3) ul{width:300px;
                                        position:absolute;
                                        top:31.25%;}

.one:nth-child(2) ul li, .one:nth-child(3) ul li{width:300px;
                                                height:33.333%;
                                                text-align:center;
                                                line-height:100px;
                                                font-size:13px;}

#menu_2{width:300px;
        height:100%;
        background-color:black;}

#menu_2 ul{position:relative;
            height:100%;
            top:12.5%;}
#menu_2 li{width:300px;
            height:12.5%;
            line-height:100px;
            text-align:center;
            font-size:13px;
            color:#ffffff;
            transition:0.2s;}

#menu_2 li:hover{cursor:pointer;
                font-size:18px;}

#close{width:25px;
        height:25px;
        background-image:url("../../a/1_close.png");
        background-size:cover;
        position:absolute;
        margin-top:37.5px;
        left:90%;}

#close:hover{cursor:pointer;}


.back{width:25px;
    height:25px;
    position:absolute;
    background-image:url("../../a/1_back.png");
    background-size:cover;
    margin-top:37.5px;
    left:80%;}

.back:hover{cursor:pointer;}
/*menu end*/


/* sec_all */
#sec_all{top:100px;
         position:relative;
         height:6035px;
        width:100%;
        background-color:#fcf9ee;}

.main_title, .main_ex{color:white;}

.text_box_1{width:100%;
            height:98px;
            margin:0 auto;
            text-align:center;
            position:relative;
            top:201px;}

.main_title{font-size:40px;}

.main_ex{font-size:18px;
        top:10px;
        position:relative;}

.click_hidden{position:relative;
                display:none;}
 /* display:none; */

.pd_info{width:200px;
        height:200px;
        margin:0 auto;
        text-align:center;}

.pd_title{width:200px;
        height:40px;
        text-align:center;
        font-size:15px;
        position:relative;
        top:20px;}

.price_a{width:200px;
        height:100px;
        margin-top:20px;}

.price_1{width:200px;
        height:20px;
        position:relative;
        top:25px;
        display: block;}

.price_1:hover{cursor:pointer;}

.price_2{font-size:13px;
        line-height:38px;
        margin-top:28px;
        display:none;}
/* display:none; */

.price_2:hover{cursor:pointer;}
 

.un_btn{background-image: url("../a/pd-under.png");
        width:15px;
        height:15px;
        margin-left:5px;
        background-size:cover;
        display: inline-block;}

.quick_btn{width:148px;
            height:38px;
            position:relative;
            font-size:10px;
            border:1px solid black;
            line-height:38px;
            margin:0 auto;
            transition:0.4s;}

.pr_info a{color:black;}

.pr_info a:hover .quick_btn{border:1px solid black;
                         background-color:black;}

.pr_info a:hover{color:white;}

/* sec_all */


/* sec_1 */
#sec_1{width:100%;
        height:1700px;}

#sec_1 .main_img{width:100%;
                height: 500px;
                background:url("../a/sec1-main.jpg") no-repeat fixed;}

.products{width:1400px;
        height:1150px;
        margin:0 auto;
        position:relative;
        top:100px;}

.products ul{margin-top:50px;}

.title{font-size:30px;
        text-align:center;
        position:relative;
        height:100px;
        line-height:100px;}


#scarlet li > div{width: 450px;
                height:500px;
                margin:0 auto;}

#scarlet li > div img{width:300px;
                    height:300px;
                    display:block;
                    margin:0 auto;}
/* sec_1 */


/* sec_2 */
#sec_2{width:100%;
    height:1700px;}

#sec_2 .main_img{width:100%;
                height: 500px;
                background:url("../a/sec2-main.jpg") no-repeat fixed;
                margin-top:50px;}

#room li > div{width:450px;
            height:500px;}


#room li > div img{width:300px;
                    height:300px;
                    display:block;
                    margin:0 auto;}

#room li{float:left;
        margin-left:25px;}

#room li:nth-child(1){margin-left:0;}
/* sec_2 */


/* sec_3 */
#sec_3{width:100%;
        height:2235px;}

#sec_3 .main_img{width:100%;
                height:500px;
                background:url("../a/sec3-main.jpg") no-repeat fixed;
                margin-top:50px;}

#sec_3 .products{width:1400px;
                height:1635px;}

#daydream li >div{width:450px;
                height:500px;}

#daydream li > div img{width:300px;
                    height:300px;
                    display:block;
                    margin:0 auto;}

#daydream li{position:relative;
                float:left;}

/* #daydream li:nth-child(3n){margin-left:950px;}
#daydream li:nth-child(3n-1){margin-left:475px;}
#daydream li:nth-child(3n-2){margin-left:0;} */

#daydream li:nth-child(4), #daydream li:nth-child(5), #daydream li:nth-child(6){margin-top:100px;}

.limited{position:absolute;
        width:60px;
        height:40px;
        text-align:center;
        font-size:10px;
        margin-left:348px;
        border:1px solid black;}

.limited span{position:relative;
            display:block;
            top:7px;}
/* sec_3 */


 /* service */
#service{width:1400px;
        margin-top:100px;
        position:absolute;
        left:4.5%;}

#service li{width:465.333px;
	height:100px;
	float:left;
	border-right:2px solid #ababab;}

#service li:nth-child(3){border:none;}

#service li a{color:black;}

.service_1, .service_2{display:block;
			text-align:center;}

.service_1{font-size:25px;
	margin-top:20px;}

.service_2{font-size:15px;}
/* service */



/* footer start */
#footer{width:100%;
        height:600px;
        background-color:#ffffff;
        position: relative;}

#footer_wrap{width:1400px;
        height:600px;
        margin:0 auto;
        margin-top:100px;}

#footer_1{width:1400px;
        height:450px;}

#footer_1 > ul > li{cursor: default;}

.footer_1_1{float:left;
        width:466.666px;
        height:350px;
        text-align:center;
        margin-top:100px;
        font-size:14px;
        line-height:40px;}

.footer_1_1 li{font-size:11px;}

.footer_1_1 li a{color:black;
            transition:0.1s;}

.footer_1_1 li a:hover{text-decoration:underline;
                    padding:5px;
                    font-size:13px;}

#footer_2{width:190px;
    height:30px;
    margin:0 auto;
    margin-top:15px;}

#footer_2 a{width:30px;
        height:30px;
        float:left;
        margin-left:10px;}

#footer_2 a:nth-child(1){margin-left:0;}

#footer_2 li img{width:100%;
            height:100%;}


#footer_3{width:1400px;
    height:50px;
    margin-top:55px;}

.footer_3_1{float:left;
        width:700px;
        font-size:12px;}

.footer_3_1:nth-child(1) li{float:left;
                        margin-left:30px;}

.footer_3_1:nth-child(1) li:nth-child(1){margin-left:0;}
.footer_3_1:nth-child(1) li:nth-child(2){margin-left:5px;}

.footer_3_1:nth-child(2) li{float:right;
                        margin-left:30px;}

.footer_3_1:nth-child(2) li a{color:black;}
.footer_3_1:nth-child(2) li a:hover{text-decoration:underline;}
/* footer end */