@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* ::-webkit-scrollbar {display:none;} */

*{margin:0; padding:0;}
li{list-style:none;}
.clearfix::after{content:""; display:block; clear:both;}
a{text-decoration:none;}

body ,a{font-family: 'Noto Sans', serif;}

body{overflow:hidden;}

/*header start*/
#header{width:100%;
    height:100px;
    background-color:black;
    position:fixed;
    z-index:10000;}

#top{width:1400px;
height:100px;
margin:0 auto;}

#top_wrap{width:1400px;
    height:100px;}

#btn{background-image:url("../../../../a/1_menu.png");
    background-size:cover;
    width:25px;
    height:25px;
    margin-top:37.5px;}

#btn:hover{cursor:pointer;}


#logo{width:466.66px;
    height:57px;}
#logo img{display:block;
        margin:0 auto;
        position:relative;
        margin-top:21.5px;}


#util li{width:20px;
        height:20px;
        margin-top:40px;
        margin-left:12px;}
#util, #util li{float:right;}
#util li img{width:100%;
            height:100%;}


.top_box{width:466.66px;
        float:left;}

#up, #down{cursor:pointer;
	display:none;}
/*header end*/


/*menu start*/
#menu{width:600px;
    position:fixed;
    height:100%;
    z-index:100000;
    margin-left:-600px;
    transition:0.7s;}

#menu_1, #menu_2{float:left;}

#menu_1{width:300px;
        height:100%;
        top:0;
        position:relative;}

#menu_1 .one li:hover{font-size:18px;}

#menu_1 .one li{transition:0.2s;}

.line{width:60px;
    border-bottom: 1px solid #ababab;
    margin:0 auto;}

.one{position:absolute;
    background-color:black;
    width:300px;
    height:100%;
    z-index:1000000;
    transition:0.7s;}

.one a{color:#ffffff;}

.one:nth-child(1) ul{width:300px;
                    position:absolute;
                    top:25%;}
.one:nth-child(1) ul li{width:300px;
                        text-align:center;
                        line-height:100px;
                        font-size:13px;}


.one:nth-child(2) ul, .one:nth-child(3) ul{width:300px;
                                        position:absolute;
                                        top:31.25%;}

.one:nth-child(2) ul li, .one:nth-child(3) ul li{width:300px;
                                                height:33.333%;
                                                text-align:center;
                                                line-height:100px;
                                                font-size:13px;}

#menu_2{width:300px;
        height:100%;
        background-color:black;}

#menu_2 ul{position:relative;
            height:100%;
            top:12.5%;}
#menu_2 li{width:300px;
            height:12.5%;
            line-height:100px;
            text-align:center;
            font-size:13px;
            color:#ffffff;
            transition:0.2s;}

#menu_2 li a{color:white;}

#menu_2 li:hover{cursor:pointer;
                font-size:18px;}


#close{width:25px;
        height:25px;
        background-image:url("../../../../a/1_close.png");
        background-size:cover;
        position:absolute;
        margin-top:37.5px;
        left:90%;}

#close:hover{cursor:pointer;}


.back{width:25px;
    height:25px;
    position:absolute;
    background-image:url("../../../../a/1_back.png");
    background-size:cover;
    margin-top:37.5px;
    left:80%;}

.back:hover{cursor:pointer;}
/*menu end*/

/* sec_all */
#sec_all{width:100%;
        height:1225px;
        background-color:#fcf9ee;
        top:100px;
        position:relative;}
/* sec_all */


/* sec_1 */
#sec_1 #main_img{width:100%;
                height:300px;
                position:relative;
                background:url("../a/Floral.jpg") no-repeat fixed;}

.black{width:100%;
        height:100%;
        background-color:rgba(0,0,0,0.2);}

#text_box_1{width:1400px;
            height:300px;
            margin:0 auto;
            position:relative;
            text-align:center;
            color:white;
            top: -300px;}

#text_box_wrap{position:relative;
                top:75px;
                width:100%;
                height:150px;}

#main_title{font-size:30px;
            position: relative;}
#main_ex{font-size:18px;
        top:10px;
        position:relative;}

#resel{position:relative;
        top:40px;}

#resel_btn_1{width:148px;
            height:38px;
            position:relative;
            font-size:10px;
            border:1px solid white;
            line-height:38px;
            margin:0 auto;
            cursor:pointer;}

#resel_btn_1:hover{border:1px solid black;
                    background-color:black;
                    color:white;}

#resel_btn_2{width:70%;
            height:20px;
            position: relative;
            margin:0 auto;
            display:none;}
/* display:none */                    

#resel_btn_2 ul li{float: left;
                    border-right:1px solid white;
                    width:162.5px;
                    height:20px;
                    line-height:20px;}

#resel_btn_2 li:nth-child(6){border:none;}

#resel_btn_2 li a{color:white;
                font-size:10px;
                line-height:10px;
                transition:0.2s;
                letter-spacing: 0.15em;
                padding: 5px 1px;
                position: relative;}

#resel_btn_2 li a:after{bottom: 0;
                        content: "";
                        display: block;
                        height: 1px;
                        left:50%;
                        position: absolute;
                        background: white;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;}

#resel_btn_2 li a:hover:after {width:100%; 
                                left:0;}

#resel_btn_2 li a:hover{font-size:14px;
                        font-weight: bold;}

#close_btn{width:20px;
        height:20px;
        margin:0 auto;
        background-image:url("../../../../a/1_close.png");
        background-size:cover;
        position:relative;
        top:20px;}

#close_btn:hover{cursor:pointer;}

#floral_pd{width:1400px;
        height:260px;
        margin:0 auto;
        position:relative;
        top:-200px;}

#list_wrap{width:100%;
            height:260px;}

#list_wrap ul{width:1400px;
                height:260px;
                position:absolute;}

#list_wrap a{width:444.67px;
                height:98px;
                float:left;
                margin-left:30px;
                border:1px solid black;
                color:black;
                text-align:center;
                line-height:98px;
                transition:0.4s;}

#list_wrap a:hover{background-color:black;
                color:white;}

#one a:nth-child(3n-2){margin-left:0;}
#one a:nth-child(4), #one a:nth-child(5), #one a:nth-child(6){margin-top:30px;}

#two a:nth-child(3n-2){margin-left:0;}
#two a:nth-child(4), #two a:nth-child(5), #two a:nth-child(6){margin-top:30px;}
#two{display:none;}
/* display:none */

#three a:nth-child(1){margin-left:0;}
#three{display:none;}
/* display:none */

#pd_btn{width:100%;
    height:15px;
    position:relative;
    margin:0 auto;}

#pd_btn ul{width:85px;
        height:15px;
        margin:0 auto;}

#pd_btn li{width:13px;
        height:13px;
        border:1px solid black;
        float:left;
        margin-left:20px;}

#pd_btn li:hover{cursor: pointer;}

#pd_btn li:nth-child(1){margin-left:0;}

.on{width:13px;
    height:13px;
    background-color:black;}


#sub_img{width:100%;
        height:150px;
        position:relative;
        top:-100px;
        background:url("../a/Floral.jpg");}

#pairing{width:148px;
        height:38px;
        border:1px solid white;
        margin:0 auto;
        position:relative;
        top:-95px;
        font-size:10px;
        color:white;
        text-align:center;
        line-height:38px;
        transition:0.4s;}

#pairing:hover{background-color:black;
                border:1px solid black;}
/* sec_1 */



/* service */
#service{width:1400px;
    position:absolute;
    left:4.5%;}

#service li{width:465.333px;
        height:100px;
        float:left;
        border-right:2px solid #ababab;}

#service li:nth-child(3){border:none;}

#service li a{color:black;}

.service_1, .service_2{display:block;
        text-align:center;}

.service_1{font-size:25px;
margin-top:20px;}

.service_2{font-size:15px;}
/* service */



/* footer start */
#footer{width:100%;
    height:600px;
    background-color:#ffffff;
    position: relative;}

#footer_wrap{width:1400px;
    height:600px;
    margin:0 auto;
    margin-top:100px;}

#footer_1{width:1400px;
    height:450px;}

#footer_1 > ul > li{cursor: default;}

.footer_1_1{float:left;
    width:466.666px;
    height:350px;
    text-align:center;
    margin-top:100px;
    font-size:14px;
    line-height:40px;}

.footer_1_1 li{font-size:11px;}

.footer_1_1 li a{color:black;
        transition:0.1s;}

.footer_1_1 li a:hover{text-decoration:underline;
                padding:5px;
                font-size:13px;}

#footer_2{width:190px;
height:30px;
margin:0 auto;
margin-top:15px;}

#footer_2 a{width:30px;
    height:30px;
    float:left;
    margin-left:10px;}

#footer_2 a:nth-child(1){margin-left:0;}

#footer_2 li img{width:100%;
        height:100%;}


#footer_3{width:1400px;
height:50px;
margin-top:55px;}

.footer_3_1{float:left;
    width:700px;
    font-size:12px;}

.footer_3_1:nth-child(1) li{float:left;
                    margin-left:30px;}

.footer_3_1:nth-child(1) li:nth-child(1){margin-left:0;}
.footer_3_1:nth-child(1) li:nth-child(2){margin-left:5px;}

.footer_3_1:nth-child(2) li{float:right;
                    margin-left:30px;}

.footer_3_1:nth-child(2) li a{color:black;}
.footer_3_1:nth-child(2) li a:hover{text-decoration:underline;}
/* footer end */